{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href=" {{ asset('css/tools-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/create-maquette.css') }}">
    <link rel="stylesheet" href=" {{ asset('css/create-header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header-view.css') }}">
{% endblock %}


{% block body %}

    <!-- #START [background : back] -->
    <div class="bg-admin">

        <!-- #START [toolsBar] -->
        <div class="tools-bar">
                <div class="tools-row">
                    <div class="tools-col">
                       <span class="tools-title">
                            create tools
                       </span>
                       <div class="tools-item" title="Add header" id="create-header-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                            </svg>
                       </div>
                       <div class="tools-item" title="Add maquette" id="create-maquette-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                            </svg>
                       </div>
                    </div>
                    <div class="tools-col mt-5">
                       <span class="tools-title">
                            View tools
                       </span>
                       <div class="tools-item" title="Add header view" id="view-header-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-view-list" viewBox="0 0 16 16">
                                <path d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14z"/>
                            </svg>
                       </div>
                    </div>
                    <div class="tools-col mt-5">
                       <span class="tools-title">
                            Final tools
                       </span>

                       <!-- 
                            Quand on clique sur ce bouton on lancer un event qui lancera la request ajax
                            [EVEN TO AJAX Request]
                       -->
                       <div class="tools-item" title="Upload your site" id="upload-site-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                            </svg>
                       </div>
                    </div>
                </div>
        </div>
        <!-- #END [toolsBar] -->

        <!-- #START [View of site] -->
        <div id="view">
            {% for maquette in maquettes %}
                {% if maquette.selecting == true and maquette.header %}

                    <div id="header">
                        <div style="background-image: url({{ asset('img/uploads/' ~ maquette.header.image) }});
                                    position: relative;
                                    height: 100vh;
                                    background-repeat: no-repeat">
                            <div class="d-flex flex-column justify-content-center" style="color: #fff; height: 100%">
                                <h1 class="m-0 text-center text-uppercase">
                                    {{maquette.header.title}}
                                </h1>
                                <p class="text-center">
                                    {{maquette.header.description}}
                                </p>
                            </div>
                        </div>
                        <div class="{{maquette.header.image}}" hidden></div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- #END [View of site] -->
{% include 'home/modal/create-header.html.twig' %}
    {% include 'home/view/header.html.twig' %}
    {% include 'ajax/create-maquette.html.twig' %}
    </div>
    <!-- #END [background : back] -->

    

   


{% endblock %}