{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href=" {{ asset('css/tools-bar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/create-maquette.css') }}">
    <link rel="stylesheet" href=" {{ asset('css/create-header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header-view.css') }}">
    <link rel="stylesheet" href="{{ asset('css/create-navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('css/view-navbar.css') }}">
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/create-navbar.js') }}"></script>
    <script src="{{ asset('js/view-navbar.js') }}"></script>
{% endblock %}

{% block body %}

    <!-- #START [background : back] -->
    <div class="bg-admin">

        <!-- #START [toolsBar] -->
        <div class="tools-bar">
                <div class="tools-row pt-3">

                    <!-- Essayer de faire une liste des élement
                        Create tools
                        View tools
                        Action tools
                        etc -->
                    <div class="list">
                    </div>
                    <div id="create-maquette-btn" class="d-flex my-1 py-1" style="color: #fff;
                                                                                  cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="100%" fill="currentColor" class="bi bi-clipboard ml-2" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                        <p class="m-auto">Dashboard</p>
                    </div>
                    <div id="create-header-btn" class="d-flex my-1 py-1" style="color: #fff;
                                                                                  cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="100%" fill="currentColor" class="bi bi-card-heading ml-2" viewBox="0 0 16 16">
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                            </svg>
                        <p class="m-auto">Create header</p>
                    </div>
                    <div id="create-navbar-btn" class="d-flex my-1 py-1" style="color: #fff;
                                                                                  cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="100%" fill="currentColor" class="bi bi-align-end ml-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z"/>
                            <path d="M13 7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7z"/>
                        </svg>
                        <p class="m-auto">Create navbar</p>
                    </div>
                    <div id="view-header-btn" class="d-flex my-1 py-1" style="color: #fff;
                                                                                  cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="100%" fill="currentColor" class="ml-2 bi bi-view-list" viewBox="0 0 16 16">
                                <path d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14z"/>
                            </svg>
                        <p class="m-auto">View header</p>
                    </div>
                    <div id="view-navbar-btn" class="d-flex my-1 py-1" style="color: #fff;
                                                                                  cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="100%" fill="currentColor" class="ml-2 bi bi-menu-button-wide-fill" viewBox="0 0 16 16">
                            <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1zm9.927.427A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0l-.396-.396zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        <p class="m-auto">View navbar</p>
                    </div>
                    <div class="w-100 d-flex position-absolute" style="bottom: 40px;">
                        <div id="upload-site-btn" class="d-flex my-1 py-1 w-100" style="color: #fff;
                                                                                    cursor: pointer;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="100%" fill="currentColor" class="bi bi-upload ml-2" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                            </svg>
                            <p class="m-auto">Upload site</p>
                        </div>
                    </div>
                </div>
        </div>
        <!-- #END [toolsBar] -->

        <!-- #START [View of site] -->
        <div id="view">
        
            {% for maquette in maquettes %}
                {% if maquette.selecting == true and maquette.header %}

                    <div id="header">
                        <div style="background-image: url({{ asset('img/uploads/' ~ maquette.header.image) }});
                                    position: relative;
                                    height: 100vh;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;">
                            <div class="d-flex flex-column justify-content-center" style="color: #fff; height: 100%">
                                <h1 class="m-0 text-center text-uppercase">
                                    {{maquette.header.title}}
                                </h1>
                                <p class="text-center">
                                    {{maquette.header.description}}
                                </p>
                            </div>
                        </div>
                        <div class="{{maquette.header.image}}" hidden></div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- #END [View of site] -->
    {% include 'home/modal/create-header.html.twig' %}
    {% include 'home/view/header.html.twig' %}
    {% include 'ajax/create-maquette.html.twig' %}
    {% include 'home/modal/create-navbar.html.twig' %}
    {% include 'home/view/navbar.html.twig' %}
    </div>
    <!-- #END [background : back] -->

    

   


{% endblock %}