{% block javascripts %}
    <script src="{{ asset('js/ajax/create-maquette.js') }}"></script>
{% endblock %}

<div id="maquette-modal" class="position-fixed w-50 create-maquette" style="display: {{display ? display : 'none'}};">
    <div class="text-right">
        <span id="close-create-maquette">
            x
        </span>
    </div>
    <div>
        <h3 class="m-0 text-center">Maquette setting</h3>
        <span class="text-center sous-titre w-100">Ajouter une maquette, ou selecté une maquette pour commencer votre projet</span>
    </div>
    <div class="body d-flex flex-wrap">
        {% for maquette in maquettes %}
            <div class="col-lg-3 mt-3 maquette">
                <div id="maquette-{{maquette.id}}" class=" p-2 border shadow my-maquette">
                    <p class="m-0 text-center">Maquette - {{maquette.id}}</p>
                    {% if maquette.header %}
                        <p class="m-0 sous-titre">Cette maquette possède un header</p>
                        <div>
                            <img width="100%" src="{{ asset('img/uploads/' ~ maquette.header.image) }}">
                        </div>
                    {% endif %}
                </div>
                {% if maquette.selecting %}
                    <div class="footer text-center my-4">
                        <span class="py-2 px-3 delete-maquette" id="delete-maquette-{{maquette.id}}">Supprimer</span>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="m-3 text-center">
        <span id="create-maquette" class="py-2 px-3">
            Ajouter une maquette
        </span>
    </div>
    
</div>
