
 {% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('css/create-header.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/ajax/header.js') }}"></script>
{% endblock %}
 
 
 <!-- #START [Form method = post ] -->



    <!-- #START filter-body -->
    <div class="p-5" id="form-header">

                    <!-- #START form -->
                    {{ form_start(headerForm) }}
                    

                        <div class="container">
                            <div class="row">
                                <div class="">

                                </div>
                            </div>
                            <div class="row justify-content-end" >
                                <div class="w-100">
                                    {{ form_label(headerForm.title, 'Titre') }}
                                    {{ form_widget(headerForm.title) }}
                                    {{ form_widget(headerForm) }}
                                </div>
                                <div>
                                    <input value="{{header.id}}" name="header[id]" hidden>
                                </div>
                                <button class="update-header" formnovalidate>Modifier</button>
                            </div>
                        </div>
                    {{ form_end(headerForm) }}
                    <!-- #END form -->

        </div>
        <!-- #END filter-body -->