

 
 
 <!-- #START [Form method = post ] -->


    <!-- #START filter-body -->
    <div class="create-header-form create-header">
        <div  class="text-right">
            <span id="close-create-header">
                x
            </span>
        </div>
        <div class="text-center">
            <h3 class="m-0">Creation de header</h3>
            <span class="w-100 sous-titre">Crée un header pour pouvoir l'associer a une maquette</span>
        </div>
                    <!-- #START form -->
                    {{ form_start(headerForm) }}
                    

                        <div class="container">
                            <div class="row">
                                <div class="">

                                </div>
                            </div>
                            <div class="row justify-content-end" >
                                
                                <div class="w-100">
                                    {{ form_label(headerForm.title, 'Titre') }}
                                    {{ form_widget(headerForm.title) }}
                                    {{ form_widget(headerForm) }}
                                </div>
                                <button formnovalidate>Ajouter</button>
                            </div>
                        </div>
                    {{ form_end(headerForm) }}
                    <!-- #END form -->

        </div>
        <!-- #END filter-body -->
      